* {
    font-size:12px
}
img {
    border-radius:5px
}
.content {
    overflow:scroll;
}
#userInfo {
    background:rgba(120,120,120,0.4);
    color:rgb(200,200,200);
}
 #up {
    padding:10px 0;
}
 #down .flex span {
    margin:20px 0;
    width:1px;
    background:rgb(100,100,100)
}
#down .flex .flex {
    flex:1;
    text-align:center;
    padding:10px 0
}
#down .flex .flex:active {
    background:rgba(47,47,47,0.5)
}
#null {
    height:260px
}
#up {
    margin:0 10px 10px 10px
}
 #usericon {
    width:60px;
    height:60px;
    margin-right:10px;
    margin-top:-25px;
}
#level {
    padding:0 5px;
    background:rgb(25,212,105);
    border-radius:5px
}
#age , #identity {
    padding:0 5px;
    border-radius:5px
}
#medalList {
    padding:10px 10px;
    background:rgba(120,120,120,0.4);
    color:rgb(200,200,200);
    display:none
}
.interval {
    height:10px
}
#beenLocations .flex,#photos .flex,#tags .flex,#medalList .flex {
    flex-wrap:wrap
}
#photos .flex img {
    margin:10px 10px 0 0;
    width:calc((100% - 30px) / 4);
    aspect-ratio:1/1;
}
#photos .flex img:nth-of-type(4n+0) {
    margin-right:0
}
#medalList .flex img {
    margin:10px 10px 0 0;
    width:calc((100% - 70px) / 8);
    aspect-ratio:1/1;
}
#medalList .flex img:nth-of-type(8n+0) {
    margin-right:0
}
#perInfo,#beenLocations,#photos,#tags {
    padding:10px 10px;
    background:rgba(120,120,120,0.4);
    color:rgb(200,200,200)
}
#beenLocations .flex div,#tags .flex div {
    padding:0 10px;
    background:rgb(25,212,105);
    border-radius:5px;
    margin-top:10px;
    margin-right:10px
}
#beenLocations div span,#tags div span {
    color:rgb(100,200,100);
    font-weight:bold
}
#identity,#age,#level,#level span,#beenLocations .flex ,#tags .flex{
    color:white;
}
.ftools {
    align-items : flex-end
}
.ftools div {
    background:rgb(255,255,255);
}
.ftools .flex1 {
    text-align:center;
    padding:15px 10px 15px 10px;
    font-size:15px;
}
/*.ftools .flex1:active {
    background:rgba(40,40,40,0.8);
    color:rgb(255,255,255);
}*/
.complaint ,.follow{
    color:rgb(252,61,77);
    font-weight:bold;
}